{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "sort-imports-es6-autofix"],
    "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
    "env": {
        "browser": true
    },
    "rules": {
        "sort-imports-es6-autofix/sort-imports-es6": [
            "error",
            {
                "ignoreCase": true,
                "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
            }
        ]
    },
    "overrides": [
        {
            "files": ["**/*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": 0
            },
            "env": {
                "browser": false,
                "node": true
            }
        }
    ],
    "ignorePatterns": [".babelrc.js"]
}
