{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
    "env": {
        "browser": true
    },
    "overrides": [
        {
            "files": ["rollup.config.js"],
            "env": {
                "browser": false,
                "node": true
            }
        }
    ]
}
