{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "sort-imports-es6-autofix"],
    "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
    "env": {
        "browser": true
    },
    "rules": {
        "sort-imports-es6-autofix/sort-imports-es6": [
            "error",
            {
                "ignoreCase": true,
                "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
            }
        ],
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-empty-interface": "error",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-console": "error",
        "no-prototype-builtins": "off",
        "prefer-rest-params": "off"
    },
    "overrides": [
        {
            "files": ["**/*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            },
            "env": {
                "browser": false,
                "node": true
            }
        }
    ],
    "ignorePatterns": [".babelrc.js"]
}
